.top{ 
    background-color: black;
    height:70px;
    padding: 30px;
    display: flex;
    position: relative;
    justify-content: flex-start;
}
h1{
    color: lime;
    background-color: black;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 25%;
    display: flex;
    position: absolute;
}
.am, .re, .pr{
    padding:15px;
    color: lime;
    background-color: black;
    font-size: 20px;
    border: 2px solid lime;
    flex-direction: row;
    justify-content: flex-start;
}
.nav{
    justify-content: left;
    align-items: flex-end;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    transform: rotate(90deg);
    width: 330px;
    padding-top:100px;
    display: block;
    align-content: flex-start;
    /* position: absolute; */
    margin: 10px;
}
.info{
    background-color: grey;
    height:330px;
    width:80%;
    display: inline-flex;
    float: right;
}
.list{
    background-color: cyan;
    width: 330px;
    height: 300px;
}
.lists{ 
    margin-top: 10px;
    flex-direction: row;
}
h2, h3{
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
